[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=mediainfo-gui
Icon=mediainfo-gui
Exec=mediainfo-gui
[X-Sailjail]
Sandboxing=Disabled
